# Environment variables
.env

# Chroma vector database
/chroma

# Large data files
*.csv

# Python cache
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Virtual environment
venv/
env/
mymlprof/

# OS files
.DS_Store

#COLLABS
*.ipynb
*.gsheet

requirements_bk.txt

.devcontainer