torch
torchvision
torchaudio
sentence-transformers==2.6.1
chromadb
langchain
langchain-core
langchain-community
langchain-groq
langchain-ollama
langchain-google-genai
pandas
protobuf==3.20.3
tabulate
streamlit